@(services: List[Service], serviceForm: Form[Service])

@import helper._

@main("Service list") {
    
    <h1>@services.size service(s)</h1>
    
    <ul>
        @services.map { service =>
            <li>
                @service.name
                
                @form(routes.ServiceController.delete(service.id)) {
                    <input type="submit" class="btn btn-danger" value="Delete">
                    <a class="btn btn-primary" href="@routes.ServiceController.edit(service.id)">Edit</a>
                }
            </li>
        }
    </ul>
    
    <a class="btn btn-success" id="add" href="@routes.ServiceController.create()">Add a new service</a>
    
}