@(services: List[Service], serviceForm: Form[Service])

@import helper._

@main("Service list") {
    
    <h1>@services.size service(s)</h1>
    
    <ul>
        @services.map { service =>
            <li>
                @service.name
                
                @form(routes.Application.deleteService(service.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new task</h2>
    
    @form(routes.Application.newService) {
        
        @inputText(serviceForm("name"))
        @inputText(serviceForm("description"))
        @inputText(serviceForm("status"))
        
        <input type="submit" value="Create">
        
    }
    
}